$accent:#91916C;

%sans-400 {
    font-family: "NunitoSans-Regular";
    font-weight: 400;
}

%sans-700 {
    font-family: "NunitoSans-Bold";
    font-weight: 700;
}

%display{
    font-family: "PlayfairDisplay-Bold";
    font-weight: 700;
}

